@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&family=Bebas+Neue&family=Gasoek+One&family=Lobster&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body.dark 
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
ul
{
    list-style: none;
}
.section
{
    background: #ffff;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden
{
    display: none !important;
}
.main-content
{
    padding-left: 270px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: #e9311a;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: #e9311a;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{   
    font-family: 'Lobster', cursive;;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #e9311a;
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside */
.aside
{   
    font-family: 'Lobster', cursive;
    width: 270px;
    background: #026c80;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.aside-wrapper{
    height: 80%;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    margin-left: 30px;
    text-transform: capitalize;

}
.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    color:#fff;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    color:#fff;
}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #e9311a;
    border-left: 5px solid #e9311a;
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    color: #e9311a;
    border-top: 5px solid #e9311a;
    border-right: 5px solid #e9311a;
    top: 0;
    right: 0;
}
.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: #fff;
    padding: 5px 15px;
}
.aside .nav li a.active
{
    color: #ecae7d;
}
.aside .nav li a i
{
    margin-right: 15px;
}
/* home */
.home
{
    min-height: 50vh;
    display: flex;
    color: var(--text-black-900);
    background-color: #064c72;
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello
{
    color: #fff;
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span
{
    font-family: 'Yesteryear' , cursive;
    font-size: 30px;
    font-weight: 700;
    color: #ecae7d;
}
h3.my-profession
{
    color: #fff;
    font-size: 30px;
    margin: 15px 0;
}
.typing
{
    color: #ecae7d;
}
.home-info p
{
    color: #fff;
    margin-bottom: 70px;
    font-size: 20px;
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
}
.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -20px;
    top: -40px;
}
.home .home-img img
{
    margin: auto;
    border-radius: 175px;
    height: 329px;
}
/* About */
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color: #e9311a;
}
.about .about-content .about-text p
{
    font-size: 20px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item
{
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title 
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa 
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/*Career*/
.career{
    background: #ffff ;
    display: block;
    padding: 0 30px;
    opacity: 1
}
.career h2{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    position: relative;
}
.career h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: #e9311a;
    position: absolute;
    top: 100%;
    left: 0;
}
.career h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: #e9311a;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}


/*Background */

.education,
.experience {
    margin-top:  1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.education img,
.experience img {
    max-width: 100%;
    height: auto;
    max-height: 180px; 
    margin-right: 10rem;

}
.education h3,
.experience h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.education h4,
.experience h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.education p,
.experience p {
    font-size: 20px;
    margin-bottom: 0.3rem;
}

.education-row, .experience-row{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
}
/* Styles for larger screens */
@media (min-width: 768px) {
    .details h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .details h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .details p {
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .education-row, .experience-row {
        flex-direction: column;
    }
    
    .logo {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .details {
        text-align: center;
    }
}

/* Skills */
.skills{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;

}
#my-skills{
    display: none;
}
.skill-box{
    display:inline-flex;
}
.skills .skills-title{
    margin-top:80px;
    position: relative;
    margin-left: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 11px;
    padding-bottom: 20px;
    font-family: 'Eczar', serif;
}
.skills .skills-title:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 180px;
    height: 3px;
    background:rgb(99, 94, 94);
    transform: translateX(-50%);

}
.skills .skills-title:after{
    content: 'what i learnt';
    font-family: 'Eczar', serif;
    position: absolute;
    left: 50%;
    bottom: -21px;
    padding:5px;
    font-size: 20px;
    color:crimson;
    background:#fff;
    transform: translateX(-50%);
}
.skills .header{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.skills .header .h1{
    color:#fff;
    font-size: 40px;
}
.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 40px;
    gap: 40px;
}
.skills-container .container-box{
    box-shadow: 0 0 5px rgba(0, 0, 0,0.8);
    width: 400px;
    height: 300px;
    border-radius: 10%;
    background-color: #fff;
}
.skills-container .container-logo{
    text-align: center;
    margin: 20px 0;
    transition: .3s; 
}
.skills-container .container-logo .ion-icon{
    color: #fff;
    background-color: #ecae7d;
    padding: 15px 19px;
    font-size: 30px;
    border-radius: 30%;
    cursor: pointer;
}
.skills-container .container-logo .ion-icon:hover{
    transform: scale(1.2);
}
.container-box .container-title{
    color: #000;
    text-align: center;

}
.container-box .container-title h3{
    margin-bottom: 20px;
}
.container-box .containder-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}
.container-box .containder-data a{
    transition: .3s;
    text-decoration: none;
    color: #000;
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}
.container-box .containder-data .iconify{
    float: right;

}
.container-box .containder-data a:hover {
    transform: scale(1.1);
}
/* interest */
.interest{
    background-color: #064c72;
}
.interest h2{
    color: #fff;
}
.interest .container
{
    padding-bottom: 40px;
}
.interest .interest-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    height: 300px;
    
}
.interest .interest-item .interest-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3S ease;
}
.interest .interest-item .interest-item-inner:hover
{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
}
.interest .interest-item .interest-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.interest .interest-item .interest-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color:#ed6335;
    transition: all 0.3s ease;
}
.interest .interest-item .interest-item-inner:hover .icon
{
    background: var(--skin-color);
}
.interest .interest-item .interest-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.interest .interest-item .interest-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.interest .interest-item .interest-item-inner p
{
    font-size: 1rem;
    color: var(--text-black-700);
    line-height: 25px;
}
/* portfolio */
.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    height: 300px;
}
.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    max-width: 100%;
    height: 14rem;
    display: block;
}

.contact{
    background-color: #064c72;
}
.contact h2{
    color: #fff;
}
.contact h3{
    margin-top: 2rem;
    color: #fff;
    font-size: 2rem;
}

.contact .contactdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.email-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .email-link {
    display: inline-flex;
    align-items: center;
    color: #ecae7d;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem; /* Increased font size */
  }
  
  .email-link i {
    margin-right: 5px;
  }
  
  .email-link p {
    margin: 0;
    font-size: 1.5rem; /* Increased font size */
  }
  
  .contactdiv p {
    font-size: 1.3rem; /* Increased font size */
    margin-top: 5px;
    color: #fff;

  }
  
menu {
    --size: 2.5rem;
    --radius: 6rem;
    --padding: 1rem;
    --bg-color: rgba(255, 255, 255, 0.9);
    --fg-color: rgba(0, 0, 0, 0.7);
    --hi-color: #ecae7d;
    
    position: fixed;
    bottom: 100px;
    right: 18px;
  }
  
  menu > * {
    position: absolute;
    
    display: grid;
    place-content: center;
    
    border-radius: 50%;
    
    background: var(--bg-color);
    color: var(--fg-color);
    
    text-decoration: none;
    
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
  }
  
  menu > .action {
    --factor: 0;
    
    width: var(--size);
    height: var(--size);
    right: calc(0.35 * var(--size));
    bottom: calc(0.35 * var(--size));
    
    opacity: 0;
    
    transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
    
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  menu > .action:hover, menu > .trigger:hover {
    color: var(--hi-color);
    box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
  }
  
  menu.open > .action {
    --factor: 1;
    
    opacity: 1;
  }
  
  menu > .action:nth-child(1) {
    --angle: 0deg;
    transition-delay: 0ms;
  }
  
  menu > .action:nth-child(2) {
    --angle: 30deg;
    transition-delay: 50ms;
  }
  
  menu > .action:nth-child(3) {
    --angle: 60deg;
    transition-delay: 100ms;
  }
  
  menu > .action:nth-child(4) {
    --angle: 90deg;
    transition-delay: 150ms;
  }
  
  menu > .trigger {
    width: calc(1.6 * var(--size));
    height: calc(1.6 * var(--size));
    bottom: 0;
    right: 0;
    
    font-size: 2rem;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  menu > .trigger > i {
    transition: transform 250ms ease-in-out;
  }
  
  menu.open > .trigger > i {
    transform: rotate(-135deg);
  }
  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 26px;
    width: 68px;
    height: 63px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition: color .2s ease-in-out;
    
}

#back-to-top-btn:hover {
    background-color: #fff;
    color: #ecae7d;
     box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
}
.btnEntrance {
    animation-duration: 1s;
    animation-fill-mode :both;
    animation-name :btnEntrance;
}
/*Zoom In*/
 @keyframes btnEntrance {
    from{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
    }
} 

/*FadeInUp*/

/* @keyframes btnEntrance {
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.btnExit {
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: btnExit;
} */

/*Zoom Out*/

@keyframes btnExit {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}  

/*Fade Out Down*/
/* @keyframes btnExit {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
}  */

@media (max-width :992px){
    


    #back-to-top-btn {
        font-size: 22px;
        width: 70px;
        height: 62px;
    }
}
@media (max-width:1199px)
{
    .aside
    {
        left: -270px;
    }
    .aside .nav li a {
        font-size: 30px;
        font-weight: 500;
    }
    .aside.open{
        left: 0;
        width: 100%;
    }
    .aside .nav-toggler{
        display: flex;
        left:30px;
    }
    .aside .nav-toggler .open{
        left: 300px;
    }
    .aside .logo a{
        margin-left: 50px
    }
    .section{
        left: 0;
    }
    .section .open{
        left: 270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span 
    {
        display: block;
        margin-left: 0;
    }
}
@media (max-width:991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .interest .interest-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
}
@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .interest .interest-item,
     .experience,
     .education,
     .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:415px){
    .skills-container{
        width: 300px;
        margin-left: 41px;
        margin-right: 30px;
    }
}



